.env
.env.*
!.env.example

docs/
.sdk-coverage/

.coverage
.coverage.*
htmlcov/

*.egg-info/
*.py[cod]
__pycache__/

.venv/
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/

build/
dist/
pip-wheel-metadata/

.DS_Store
